.App {
  text-align: center;
}
/* transform 속성을 사용하여 요소의 크기를 0으로 조절 scale(0)을 이용하여 요소 축소 */
.start {
  transform: scale(0);
}
/* transform 속성과 transition 속성을 사용하여 요소의 크기를 1로 조절, scale(1)을 적용하여 요소의 원래 크기로 확대, 0.5초동안 애니메이션 효과 적용 */
.startend {
  transform: scale(1);
  transition: all 0.5s;
}

.main-bg {
  height: 300px;
  background-image: url('./img/bg.png');
  background-size:cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
